/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: $font-page;
  color: $dark-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}

body::-webkit-scrollbar {
  width: 0;
}


