//*** font-family ***//
$font-page: "Montserrat", "Arial", sans-serif;


//*** font-size ***//
$font-small: 14px;
$font-medium: 16px;
$font-large: 24px;
$font-big: 36px;
$font-huge: 60px;

//*** colors ***//
$default-black: #000000;
$dark-color: #333333;
$default-white: #ffffff;
$basic-bg: #f3ebe1;
$basic-violet: #7859cf;
$basic-violet-ligth: #f0ebff;
$basic-violet-hover: #9070ec;
$basic-violet-active: #593cac;
$catalog-bg: #f8f8f8;
$light-grey-a: #e2e2e2;
$light-grey-b: #bdbdbd;

//*** media-width ***//
$tablet-width: 768px;
$desktop-width: 1440px;
