.burger-button {
  padding: 0 0 0 21px;
  position: relative;
  width: 16px;
  height: 12px;
  border: none;
  background-color: $default-white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 1.5px;
    right: 0;
    background: $default-black;
    transform: translateY(-8px);
    box-shadow: 0 6px $default-black;
  }

  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 1.5px;
    right: 0;
    background: $default-black;
    transform: translateY(4px);
  }
}

@media (min-width: $tablet-width) {
  .burger-button {
    display: none;
  }
}


.burger-button--close {
  height: 16px;
  padding: 0;

  &::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 1.5px;
    right: 0;
    background: $default-black;
    box-shadow: none;
    transform: rotate(-45deg);
  }

  &::after {
    transform: rotate(45deg);
  }

}


