.button {
  height: 40px;
  padding: 8px 20px;
  border-radius: 4px;
  background-color: $basic-violet;
  color: $default-white;
  border: none;
  font-family: $font-page;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: $basic-violet-hover;
  }

  &:active {
    background-color: $basic-violet-active;
  }

  &:disabled {
    background-color: $light-grey-b;
    cursor: auto;
  }

  &--reset {
    background-color: $default-white;
    color: $basic-violet;
  }

  &--reset:hover,
  &--reset:focus {
    color: $default-white;
  }

  &--reset:active {
    color: $default-white;
  }

  &--reset:disabled {
    background-color: $light-grey-a;
    color: $default-white;
    cursor: auto;
  }
}


@media (min-width: $tablet-width) {
  .button--reset {
    width: 120px;
  }
}

@media (min-width: $desktop-width) {
  .button--reset {
    width: 149px;
  }
}
