.catalog {
  background-color: $catalog-bg;
}

.catalog__container {
  max-width: 320px;
  padding: 50px 20px 0;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "title"
    "description"
    "form"
    "product";
}

@media (min-width: $tablet-width) {
  .catalog__container {
    max-width: $tablet-width;
    padding: 83px 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__container {
    max-width: $desktop-width;
    padding: 100px 40px 0;
    grid-template-areas:
      "title title"
      "description description"
      "form product";
    column-gap: 29px;
  }
}

.catalog__title {
  grid-area: title;
  margin: 0;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: $basic-violet;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: center;
}

.catalog__description {
  margin: 0;
  margin-bottom: 20px;
  grid-area: description;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

@media (min-width: $tablet-width) {
  .catalog__description {
    font-size: 42px;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 17px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__description {
    margin-bottom: 37px;
  }
}

.catalog__form {
  grid-area: form;
  margin-bottom: 40px;
}

.catalog__product {
  grid-area: product;
  margin-bottom: 4px;
}

@media (min-width: $tablet-width) {
  .catalog__product {
    margin-bottom: 0;
  }
}

.catalog__select {
  width: 280px;
  min-height: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 0 0 0 4px;
  margin-left: -2px;
  margin-bottom: 16px;
}

@media (min-width: $tablet-width) {
  .catalog__select {
    margin-left: auto;
    margin-right: 5px;
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__select {
    margin-right: 6px;
  }
}
