.checkbox-inputs {
  margin-bottom: 15px;
}

.checkbox__input {
  width: 0;
}

@media (min-width: $tablet-width) {
  .checkbox-inputs {
    margin-bottom: 25px;
  }
}

@media (min-width: $desktop-width) {
  .checkbox-inputs {
    margin-top: -10px;
  }
}

.checkbox-list {
  row-gap: 20px;
}

.checkbox {
  display: inline-flex;
  gap: 10px;
  outline: none;
  cursor: pointer;
}

.checkbox__wrapper {
  display: block;
  width: 42px;
  height: 24px;
  cursor: pointer;
  position: relative;
}

.checkbox__input:checked + .checkbox__slider {
  background-color: $basic-violet;
  border: 2px solid $basic-violet;
}

.checkbox__slider {
  background-color: $light-grey-b;
  border: 2px solid $light-grey-b;
  position: absolute;
  border-radius: 12px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  --webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.checkbox__wrapper .checkbox__knob {
  margin: 0;
  position: absolute;
  --webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: 0;
  background-color: $default-white;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox__input:checked + .checkbox__slider .checkbox__knob {
  left: calc(100% - 20px);
}

.checkbox:hover .checkbox__slider,
.checkbox:focus .checkbox__slider {
  background-color: rgba(120, 89, 207, 0.25);
  border: 2px solid $basic-violet-hover;
}

.checkbox__input:focus + .checkbox__slider {
  outline: none;
  background-color: rgba(120, 89, 207, 0.25);
  border: 2px solid $basic-violet-hover;
}

.checkbox__input:disabled:checked + .checkbox__slider .checkbox__knob {
  background-color: $light-grey-b;
}

.checkbox__input:disabled + .checkbox__slider {
  background-color: $light-grey-a;
  border-color: $light-grey-a;
  cursor: auto;
}
