.header {
  position: relative;
  color: $dark-color;
  max-width: 320px;
  min-height: 60px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .header {
    position: static;
    max-width: $tablet-width;
  }
}

@media (min-width: $desktop-width) {
  .header {
    max-width: $desktop-width;
  }
}

.header__container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $desktop-width) {
  .header__container {
    padding: 0 40px;
  }
}

.header__logo {
  display: flex;
  gap: 22px;
  align-items: center;
  pointer-events: none;
  margin-bottom: auto;
  padding-top: 12px;
}

@media (min-width: $tablet-width) {
  .header__logo {
    gap: 20px;
    padding-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .header__logo {
    gap: 20px;
  }
}

.header__logo-picture {
  display: flex;
  align-items: end;
}

.header__logo-description {
  display: none;
  width: 150px;
  max-width: 170px;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
}

@media (min-width: $desktop-width) {
  .header__logo-description {
    display: block;
  }
}
