:root {
  --app-primaryColor: #f3ebe1;
}

.hero {
  width: 100%;
  background: linear-gradient(to bottom, var(--app-primaryColor) 100%, $default-white 0);
}

@media (min-width: $tablet-width) {
  .hero {
    background: linear-gradient(to bottom, var(--app-primaryColor) 75%, $default-white 25%);
  }
}

@media (min-width: $desktop-width) {
  .hero {
    background: linear-gradient(to bottom, var(--app-primaryColor) 100%, $default-white 0);
  }
}

.hero__container {
  max-width: 320px;
  padding: 20px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .hero__container {
    max-width: $tablet-width;
    padding: 60px 20px 0;
  }
}

@media (min-width: $desktop-width) {
  .hero__container {
    max-width: $desktop-width;
    padding: 30px 65px 84px;
    border: 0.3px solid black;
  }
}
