.map {
  background-image: url("../../images/map-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-resolution: 2dppx) {
  .map {
    background-image: url("../../images/map-mobile@2x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .map {
    background-image: url("../../images/map-tablet@1x.jpg");
  }
}

@media (min-resolution: 2dppx) {
  .map {
    background-image: url("../../images/map-tablet@2x.jpg");
  }
}

@media (min-width: $desktop-width) {
  .map {
    background-image: url("../../images/map-desktop@1x.jpg");
  }
}

@media (min-resolution: 2dppx) {
  .map {
    background-image: url("../../images/map-desktop@2x.jpg");
  }
}

.map__contetn {
  min-width: 280px;
  height: 420px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .map__contetn {
    width: $tablet-width;
    height: 480px;
  }
}

@media (min-width: $desktop-width) {
  .map__contetn {
    margin-top: -2px;
    width: $desktop-width;
    height: 540px;
  }
}

.map__pin-icon {
  margin-left: 30px;
  margin-top: 3px;
}
