.nav {
  position: absolute;
  top: 100%;
  width: 100%
}

@media (min-width: $tablet-width) {
  .nav {
    position: relative;
    margin: 0 auto;
  }
}

.nav__list {
  @include list-reset;
  margin: 0 20px 0 -20px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: $default-white;
  opacity: 0;
  animation: fadeInFromNone 0.5s ease-in-out;
}

@keyframes fadeInFromNone {
  0% {
    display: none;
    opacity: 0;
  }

  1% {
    display: block;
    opacity: 0;
  }

  100% {
    display: block;
    opacity: 1;
  }
}


.nav__list-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .nav__list {
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
  }
}

@media (min-width: $desktop-width) {
  .nav__list {
    gap: 20px;
  }
}

.nav__item {
  width: 100%;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 21px;
  border-bottom: 1px solid #F0EBFF;

  &--user {
    border: none;
    width: 60px;
  }
}

@media (min-width: $tablet-width) {
  .nav__item {
    width: min-content;
  }
}

@media (min-width: $tablet-width) {

  .nav__item,
  .nav__item:last-child {
    border: none;
  }
}

.nav__link {
  @include link-style;
  color: inherit;
  display: flex;
  gap: 9px;
}

.nav__link-text {
  display: none;
}

@media (min-width: $desktop-width) {
  .nav__link-text {
    display: block;
  }
}


.nav-user {
  margin-left: auto;
}

.nav-user__list {
  @include list-reset;
  display: flex;
  justify-content: flex-end;
}

.nav__item--botton {
  width: 40px;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
}
