.price-filter {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .price-filter {
    margin-top: 3px;
  }
}

@media (min-width: $desktop-width) {
  .price-filter {
    margin-bottom: 0;
  }
}

.price-filter__title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 30px;
  margin-left: -2px;

  &--milk,
  &--country {
    margin-bottom: 19.8px;
  }
}

.price-filter__inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .price-filter__inputs {
    width: 223px;
  }
}

@media (min-width: $desktop-width) {
  .price-filter__inputs {
    width: 318px;
  }
}

.price-filter__input {
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  width: 118px;
  height: 40px;
  text-align: center;
  padding: 8px 10px;
  border: 2px solid $basic-violet;
  border-radius: 4px;
  outline: none;
}

@media (min-width: $tablet-width) {
  .price-filter__input {
    width: 87px;
  }
}

@media (min-width: $desktop-width) {
  .price-filter__input {
    width: 134px;
  }
}

.price-filter__input::placeholder {
  color: $light-grey-b;
}

.price-filter__inputs-dash {
  width: 8px;
  height: 2px;
  background: $light-grey-b;
}

.price-filter__list {
  @include list-reset;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price-filter__item {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
