.slider {
  width: 100%;
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "picture"
    "badge"
    "title"
    "description"
    "buy"
  ;
}

@media (min-width: $tablet-width) {
  .slider {
    grid-template-areas:
      "badge"
      "title"
      "description"
      "buy"
      "picture"
    ;
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    grid-template-areas:
      "picture badge"
      "picture title"
      "picture description"
      "picture buy"

    ;
  }
}

.slider__picture {
  grid-area: picture;

  display: block;
  margin: 0 auto 15px;
}

.slider__badge {
  grid-area: badge;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: $basic-violet;
  text-align: center;
}

@media (min-width: $desktop-width) {
  .slider__badge {
    text-align: left;
    height: min-content;
    margin-top: 180px;
  }
}

.slider__title {
  grid-area: title;
  margin: 0 0 15px 0;
  font-size: $font-big;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}

@media (min-width: $tablet-width) {
  .slider__title {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 33px;
  }
}

@media (min-width: $desktop-width) {
  .slider__title {
    text-align: left;
    margin-top: -60px;
    margin-bottom: 0;
  }
}

.slider__description {
  grid-area: description;
  min-height: 100px;
  margin: 0 0 20px 0;
  color: $dark-color;
  font-size: $font-small;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .slider__description {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .slider__description {
    text-align: left;
    margin-top: -60px;
    margin-bottom: 0;
  }
}

.slider__buy {
  grid-area: buy;
  align-items: center;
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .slider__buy {
    margin: 0 auto;
    gap: 22px;
  }
}

@media (min-width: $desktop-width) {
  .slider__buy {
    margin-left: 0;
    margin-top: -50px;
  }
}

#slider-wrapper {
  margin: 0 auto;
  position: relative;
  width: 280px;
}

@media (min-width: $tablet-width) {
  #slider-wrapper {
    width: $tablet-width - 40px;
  }
}

@media (min-width: $desktop-width) {
  #slider-wrapper {
    width: $desktop-width - 80px;
  }
}

#slider {
  overflow: auto;
  scrollbar-width: none;
}

#slider::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: none;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 45%;
  left: 15px;

  transform: translate(-142%, 48%);

  &:disabled {
    opacity: 0.2;
    cursor: auto;
  }
}

.prev-img {
  display: block;
  width: 11px;
  height: 20px;
  background-image: url("../../images/icons/slider-arrow.svg");
  background-size: cover;
}

#next {
  top: 45%;
  right: -60px;
  transform: translate(-147%, 47%) rotate(180deg);

  &:disabled {
    opacity: 0.2;
    cursor: auto;
  }
}

#content {
  display: grid;
  grid-auto-flow: column;
  box-sizing: border-box;
}

.slider__item {
  width: 280px;
  min-height: 600px;
}

@media (min-width: $tablet-width) {
  .slider__item {
    width: 728px;
    min-height: 828px;
  }
}

@media (min-width: $desktop-width) {
  .slider__item {
    width: $desktop-width - 80px;
    min-height: 714px;
  }
}

.slider__pagination {
  position: absolute;
  display: inline-block;
  left: 580px;
  bottom: 70px
}

.slider__pagination-list {
  @include list-reset;
  display: flex;
  gap: 8px;
}

.slider__pagination-item {
  width: 62px;
  height: 4px;
  background-color: white;
}
