.slider {
  @include list-reset;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "picture"
    "badge"
    "title"
    "description"
    "buy";
}

@media (min-width: $tablet-width) {
  .slider {
    grid-template-areas:
      "badge"
      "title"
      "description"
      "buy"
      "picture";
    padding: 0 60px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    grid-template-areas:
      "picture badge"
      "picture title"
      "picture description"
      "picture buy";
  }
}

.slider__picture {
  grid-area: picture;
  display: block;
  margin: 0 auto 6px;
}

@media (min-width: $desktop-width) {
  .slider__picture {
    margin-right: 29px;
  }
}

.slider__badge {
  grid-area: badge;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: $basic-violet;
  text-align: center;
  margin-bottom: 4px;
}

@media (min-width: $desktop-width) {
  .slider__badge {
    text-align: left;
    height: min-content;
    margin-top: 150px;
  }
}

.slider__title {
  grid-area: title;
  margin: 0 0 10px;
  font-size: $font-big;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
}

@media (min-width: $tablet-width) {
  .slider__title {
    font-size: 56px;
    line-height: 80px;
    margin-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .slider__title {
    text-align: left;
    margin-top: -110px;
    margin-bottom: 0;
  }
}

.slider__description {
  grid-area: description;
  min-height: 100px;
  margin: 0 0 20px;
  color: $dark-color;
  font-size: $font-small;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .slider__description {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .slider__description {
    text-align: left;
    margin-top: -125px;
    margin-bottom: 0;
  }
}

.slider__buy {
  grid-area: buy;
  align-items: center;
  margin-top: auto;
}

@media (min-width: $tablet-width) {
  .slider__buy {
    margin: 0 auto 20px;
    gap: 22px;
  }
}

@media (min-width: $desktop-width) {
  .slider__buy {
    margin-left: 0;
    margin-top: -246px;
  }
}

.slider-wrapper {
  margin: 0 auto;
  position: relative;
  width: 280px;
}

@media (min-width: $tablet-width) {
  .slider-wrapper {
    width: $tablet-width - 40px;
  }
}

@media (min-width: $desktop-width) {
  .slider-wrapper {
    width: $desktop-width - 80px;
  }
}

.gallery__slider {
  overflow: auto;
  scrollbar-width: none;
  position: relative;
}

.gallery__slider::-webkit-scrollbar {
  height: 0;
}

.prev,
.next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;

  &:hover {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  }

  &:focus {
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
  }

  &:active {
    background: linear-gradient(90deg, rgba(120, 89, 207, 0.25), rgba(120, 89, 207, 0) 100%);
  }
}

.prev {
  width: 20px;
  height: 656px;
  top: -20px;
  left: -20px;

  &:disabled {
    opacity: 0.2;
    cursor: auto;
  }
}

.next {
  width: 20px;
  height: 656px;
  top: -20px;
  right: -20px;
  transform: rotate(180deg);

  &:disabled {
    opacity: 0.2;
    cursor: auto;
  }
}

@media (min-width: $tablet-width) {
  .prev {
    width: 80px;
    height: 640px;
    top: -59px;
  }

  .next {
    width: 80px;
    height: 640px;
    top: -59px;
    right: -20px;
    transform: rotate(180deg);
  }
}

@media (min-width: $desktop-width) {
  .prev {
    width: 80px;
    height: 714px;
    top: 0;
    left: -47px;
  }

  .next {
    width: 80px;
    height: 714px;
    top: 0;
    right: -35px;
    transform: rotate(180deg);
  }
}

.prev-img {
  display: inline-block;
  margin: 0 auto;
  padding: 0 4.5px;
  width: 11px;
  height: 20px;
  background-image: url("../../images/slider-arrow.svg");
  background-size: cover;
}

.gallery__content {
  display: grid;
  grid-auto-flow: column;
  box-sizing: border-box;
}

.slider__item {
  width: 280px;
  min-height: 600px;
}

@media (min-width: $tablet-width) {
  .slider__item {
    width: 728px;
    min-height: 828px;
  }
}

@media (min-width: $desktop-width) {
  .slider__item {
    width: $desktop-width - 80px;
    min-height: 714px;
    padding-top: 30px;
  }
}

.slider__pagination {
  position: absolute;
  display: none;
  left: 580px;
  bottom: 70px;
}

@media (min-width: $desktop-width) {
  .slider__pagination {
    display: inline-block;
    margin-top: -34.5px;
    margin-left: -8px;
  }
}


.slider__pagination-list {
  display: flex;
  gap: 8px;
}

.slider__pagination-item {
  width: 62px;
  height: 4px;
  background-color: $default-white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;

  &:focus {
    outline: none;
  }
}
